window#waybar {
    background: transparent;
    color: #ff4050;
    font-size: 9px;
    min-height: 0;
    border-bottom: 2px solid #ff4050;
}
   
* {
    padding-left: 9px;
    padding-right: 9px
}

#custom-cores {
    font-size: 9px;
}

#custom-cores, #cpu {
    color: #00ccff;
}

#temperature, #custom-fan {
    color: #6abf24;
}

#bluetooth, #custom-tailscale {
    color: #ffe44d;
}

#workspaces button {
    color: #00ccff;
}