window#waybar {
    background: transparent;
    background-image: linear-gradient(180deg, 
      rgba(0, 0, 0, 0.9) 3%,
      rgba(0, 0, 0, 0) 99%
    );
    margin: 0;
    margin-bottom: -12px;
    margin-top: -3px;
    color: white;
    font-size: 9px;
    font-family: "JetBrainsMono Nerd Font";
    min-height: 0;
   }
   
   * {
    padding-left: 9px;
    padding-right: 9px
}