:root, :root *, :root *::before, :root *::after {
    background: none !important;
    background-color: transparent !important;
    background-image: none !important;
    background-blend-mode: normal !important;
}

:root a,
:root a *,
:root [class*="link"],
:root [class*="Link"] {
    color: var(--base03) !important;
}

:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6 {
    font-family: var(--fontName), monospace !important;
    color: var(--base03) !important;
}

p, span, div {
    color:var(--base02) !important;
}

html body a, a, a *, li, li * {
    color: var(--base03) !important;
}
