:root * {
    outline: 0 !important;
    border-color: var(--base02) !important;
    border-radius: 0;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background-blend-mode: normal !important;
    font-family: var(--fontName), monospace !important;
    font-size: 17px !important;
    font-weight: normal !important;
}

:root a,
:root a *,
:root [class*="link"],
:root [class*="Link"] {
    color: var(--base03) !important;
}

:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6 {
    color: var(--base03) !important;
}

p, span, div {
    color:var(--base02) !important;
}

html body a, a, a *, li, li * {
    color: var(--base03) !important;
}