:root * {
    border: none !important;
    border-style: none !important;
    border-width: 0 !important;
    outline: 0 !important;
    
    background: none !important;
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    filter: none !important;
    backdrop-filter: none !important;
    
    text-shadow: none !important;
    
    animation: none !important;
    transition: none !important;
    background-blend-mode: normal !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--base04) !important;
}

p, span, div {
    color:var(--base02) !important;
}

a {
    color: var(--base02) !important;
    border-bottom: 2px solid var(--base02) !important;
}